.game-frame {
  border: 5px solid rgb(187,169,165);
  background: #D4CAC8;
  color: #D4CAC8; 
  display: inline-block;
  z-index: 1;
  border-radius: 5px;
  position: absolute;
  width: 280px;
  height: 280px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.holder {
  position: relative;
  background: rgb(187,169,165);
  margin-right: 0;
  width: 290px;
  height: 290px;  
}

[blur="win"] {
  opacity: 0.5;

}

[blur="lose"] {
  opacity: 0.5;
}

.end-frame {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  display: inline-block;
  color: black;
  font-size: 24px;
  width: 280px;
  height: 280px;
  text-align: center;
}

span.winner {
  margin-top: 95px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  
  -webkit-animation-name: move_upwards;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function:ease-in;
  -webkit-animation-play-state:active;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes move_upwards {
  0% {
    margin-top: 20px;
  } 100% {
    margin-top: 95px; 
  }
}
button.keep-going {
  position: absolute;
  border: #EBBD37;
  background: #EBBD37;
  font-weight: bold;
  display: block;
  bottom: 120px;
  left: 99px;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from {
      bottom: 120px;
      opacity: 0;
    }
    to {
      bottom: 120px;
      opacity: 1;
    }
}

.grid-container {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px;
}

.grid-item {
  display: inline-block;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 28px;
  line-height: 60px;  
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  border: 5px solid #BBA9A5;
  background: #D4CAC8;
  color: #F9F6F2;
}